<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/scss/css/w3schools27.css">
    <link rel="stylesheet" href="/scss/css/index.css">
    <title>Nodejs</title>
</head>

<body>
    <div class="topnav1">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <h1>
        <%=error %>
    </h1>
</body>

</html>